.float-left-child {
  float: left;
  margin-right: 50px
}

.time-since {
    padding-bottom: 20px
}

.child float-right-child {

}

.inline-block-child {
  display: inline-block;
}

.flex-parent {
  display: flex;
  margin: 30px;
}
.flex-child {
  flex: 1;
}

.parent {
  padding 10px;
  border: 2px solid;
  border-radius: 5px
}

.inline-flex-parent {
  display: inline-flex;
}

/* base css */
.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  margin: auto;
  padding-top: 20px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

img {
    vertical-align: middle;
    border-style: none;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#table-centered {
    text-align: center;
}

#paragraph-title {
    font-weight: bold
}